/*       */
.App {
    text-align: center;
    background-color: rgb(255, 255, 255);
    min-height: 100vh;
    overflow: hidden;
    height: 100%;
}
/* rgb(173, 91, 91) */

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
.Row_ListCourses:nth-child(even) {
    background-color: #d8d7d7;
    max-height: 50px;
}

.Row_ListCourses:nth-child(odd) {
    background-color: #ffffff;
    max-height: 50px;
}

.semesterview {
    padding: 1rem;
    width: 420px;
    box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.11),
        0 5px 15px 0 rgba(0, 0, 0, 0.08);
    background-color: #ffffff;
    border-radius: 0.5rem;
    transition: border-left 300ms ease-in-out, padding-left 300ms ease-in-out;
}
.semesterview:hover {
    border-radius: 0% 0% 50% 50% / 0% 0% 5% 5%;
    box-shadow: 10px 10px rgba(0, 0, 0, 0.25);
}
/*       */

/*       */ /*       */ /*       */ /*       */ /*       */
/*       */ /*           BUTTTONSSS       */ /*       */
.effect01 {
    color: rgb(0, 0, 0);
    border: 4px solid #c7a301;
    box-shadow: 0px 0px 0px 1px #ffd000ad inset;
    background-color: #ffd000;
    position: relative;
    bottom: 2px;
    transition: all 0.3s ease-in-out;
    max-width: 20em;
    overflow: hidden;
    max-width: 150px;
    margin: 0 auto;
    min-width: 150px;
}
.effect01:focus {
    color: rgb(0, 0, 0);
    border: 4px solid #c7a301;
    box-shadow: 0px 0px 0px 1px #ffd000ad inset;
    background-color: #ffd000;
    position: relative;
    bottom: 2px;
    transition: all 0.3s ease-in-out;
    max-width: 20em;
    overflow: hidden;
    max-width: 150px;
    margin: 0 auto;
    min-width: 150px;
}
.effect01:hover {
    color: rgb(255, 196, 0);
    border: 4px solid #ffd000;
    background-color: #ffd000ef;
    box-shadow: 0px 0px 0px 4px #ffd000 inset;
}

.effect01 span {
    transition: all 0.2s ease-out;
    z-index: 2;
}
.effect01:hover span {
    letter-spacing: 0.13em;
    color: rgb(0, 0, 0);
}
/*highlight*/
.effect01:after {
    background: rgb(250, 212, 0);
    border: 0px solid #e2ba05;
    content: "";
    height: 155px;
    left: -75px;
    opacity: 0.8;
    position: absolute;
    top: -50px;
    -webkit-transform: rotate(35deg);
    transform: rotate(35deg);
    width: 50px;
    transition: all 2s cubic-bezier(0.075, 0.82, 0.165, 1);
    z-index: 1;
    display: flex;
}
.effect01:hover:after {
    background: #fff;
    border: 20px solid rgb(255, 187, 0);
    opacity: 0;
    left: 120%;
    -webkit-transform: rotate(40deg);
    transform: rotate(40deg);
}
/*       */ /*       */ /*       */ /*       */ /*       */ /*       */ /*       */ /*       */ /*       */ /*       */
.plans {
    overflow: hidden;
    background-color: #00539f;
    border-color: #00539f;
    transition: all 0.3s ease-in-out;
    border-bottom-color: rgb(255, 255, 255);
    border-bottom-width: 5px;
    border-radius: 6px;
    max-width: 300px;
}
.plans:focus {
    background-color: #00539f;
    border-color: #00539f;
    transition: all 0.3s ease-in-out;
    border-bottom-color: rgb(255, 255, 255);
    border-bottom-width: 5px;
    border-radius: none;
    max-width: 300px;
}
.plans:hover {
    color: #ffd000;
    background-color: #00539f;
    border-color: #00539f;
    letter-spacing: 0.1em;
    border-radius: none;
    max-width: 300px;
}
.divider {
    padding: 15px;
    color: #ffd000;
}
.div2 {
    padding: 15px;
    color: #ffd000;
}
/*       */ /*       */ /*       */ /*       */ /*       */
/*       */ /*       */ /*       */ /*       */ /*       */

/*       */ /*       */ /*       */ /*       */ /*       */
/*       */ /*           Welcome Page        */ /*       */
::-webkit-scrollbar {
    width: 10px;
    background-color: rgb(255, 255, 255);
    overflow: auto;
}

/* Track */
::-webkit-scrollbar-track {
    background: rgb(255, 255, 255);
    border: 4px solid transparent;
    background-clip: content-box;
    overflow: auto;
}

/* Handle */
::-webkit-scrollbar-thumb {
    border-radius: 2px;
    background: rgb(25, 25, 25);
    border: 1px solid rgb(0, 0, 0);
    overflow: auto;
}
/*       */ /*       */ /*       */ /*       */ /*       */
/*       */ /*       */ /*       */ /*       */ /*       */
.h1 {
    font-size: xx-large;
}
#staticbar {
    background-color: #00539f;
    text-align: center;
    display: flex;
    width: 100%;
    position: fixed;
    padding: 10px;
}
.alignplanviewleft {
    display: flex;
    width: 90%;
}
.alignnewplanright {
    width: 10%;
    text-align: right;
}
#main {
    padding-top: 100px;
    text-align: center;
    display: flex;
    left: 500px;
    padding-bottom: 280px;
}
.mainalignleft {
    width: 33.33333%;
    text-align: left;
}
.mainaligncenter {
    padding-top: 30px;
    width: 33.33333%;
    left: -50px;
    text-align: center;
    color: #00539f;
}
.mainalignright {
    width: 33.33333%;
    text-align: right;
}
.ifnosemesters {
    padding: 75px;
}

#alignmain {
    display: flex;
    padding: 5px;
}
.alignright {
    width: 33.33333%;
}
.alignleft {
    width: 33.33333%;
}
.alignmiddle {
    width: 33.33333%;
}
img {
    max-width: 100%;
    max-height: 100%;
}
a {
    font-size: x-small;
    line-height: 0em;
    display: inline-flex;
    padding: 10px;
}
.monolog {
    padding-left: 8px;
    height: 125px;
    width: 125px;
}

.ResourceSection {
    background-color: #f2f2f3;
    bottom: 0px;
    font-size: small;
}
.totalcredits {
    float: initial;
    color: #00539f;
    font-size: large;
    font-weight: bold;
}
.semestercredits {
    color: #00539f;
    font-weight: bold;
}
